# Public key from Chec's demo merchant account. This client key will enable you to deploy a live preview with
# Netlify's one-click deploy. Replace this key with your own account's public key afterwards.
NEXT_PUBLIC_CHEC_PUBLIC_KEY=pk_459990bd3bcf46ed197a7aeac17e5122f8f49b96a58ce
# Set the environment for your application, e.g. "development"
NODE_ENV=
# If you're using Stripe, add your publishable key here
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
# Secret key is used with chec/seeder to access your Chec account to seed it with sample data
CHEC_SECRET_KEY=sk_459995f2db4b573673ccfa6b27199d6808ba80f30bea2
CHEC_API_URL=https://api.chec.io
